{
    "presets": ["react"],
    "plugins": [
      "lodash", 
      [
        "babel-plugin-inline-import"
      ]
    ],
    "parserOptions": {
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true
      }
    }
  }
